# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# uv
.venv/

# Ruff
.ruff_cache/

# Environment
.env

# Chroma
.chroma/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/
